- if @post_category.errors.any? 
  $("#modal .modal-content").html("#{escape_javascript(render 'new')}")
- else
  $("#post_post_category_id").html("#{escape_javascript(render 'select_categories')}")
  $("#modal").modal('hide')