= render 'layouts/templates/jeruza/partials/slider'
.homeLatestWrapper
  = render 'layouts/templates/jeruza/partials/box_notices'
  = image_tag('jeruza/img/conquista.png', width: '100%')
  = image_tag('jeruza/img/presidencia2.png', width: '100%')
